:root {
    --color-primario-1: #1F292B;
    --color-primario-2: #D7E7D0;
    --color-primario-3: #FCFCFC;
    --color-primario-4: #F2F8F0;
    --color-secundario-1: #B3CBAA;
    --color-secundario-2: #10181A;
    --color-secundario-3: #2C3D40;
    --color-secundario-4: #EEEEEE;
    --color-secundario-5: #C0C0C0;
    --color-secundario-6: #FC3B3B;
  }


